
.ipynb
Data/NASA MUREP/8-7-23 Monday MUREP Meeting.pptx
Data/NASA MUREP/CDOM Spectral Plots-Starter.ipynb
Data/NASA MUREP/NASA MUREP Lab Meeting Project Proposal.pptx
Data/NASA MUREP/Numpy Array Module 2 Geosciences Backup.txt
Data/NASA MUREP/OpenJupyter.bat
Data/NASA MUREP/Practice VRX File - Practice your plotting skills here.ipynb
Data/NASA MUREP/Untitled.ipynb
Data/NASA MUREP/.ipynb_checkpoints/Practice VRX File - Practice your plotting skills here-checkpoint.ipynb
Data/NASA MUREP/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data/NASA MUREP/CDOM Optical Data Plots/CDOM Spectral Data Figures.ipynb
Data/NASA MUREP/CDOM Optical Data Plots/CDOM Spectral Plots - 2008.ipynb
Data/NASA MUREP/CDOM Optical Data Plots/.ipynb_checkpoints/CDOM Spectral Data Figures-checkpoint.ipynb
Data/NASA MUREP/IRL TOC Data/IRL_TOC.csv
Data/NASA MUREP/Practice Modules_PythonForGeosciences/Core Language Module_1.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/Maps_5-Copy1.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/Maps_5.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/Matplotlib_3.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/Numpy_2.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/Pandas_4.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/xarray_6.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/Core Language Module_1-checkpoint.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/Maps_5-checkpoint.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/Maps_5-Copy1-checkpoint.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/Matplotlib_3-checkpoint.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/Numpy_2-checkpoint.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/Pandas_4-checkpoint.ipynb
Data/NASA MUREP/Practice Modules_PythonForGeosciences/.ipynb_checkpoints/xarray_6-checkpoint.ipynb
Data/NASA MUREP/Relevant Figures/Example absorp plot.png
Data/NASA MUREP/Relevant Figures/NACEO-12-16-06-WEF-NIna.jpeg
Data/NASA MUREP/Relevant Figures/remotesensing-11-01533-g003.png
Data/NASA MUREP/Relevant Figures/water-column-hires.jpg
Data/NASA MUREP/Ruby Notebooks/CDOM Spectral Plots - 2008.ipynb
Data/NASA MUREP/Spectral CDOM Repos and CSVs/CDOM_Absorp.csv
Data/NASA MUREP/Spectral CDOM Repos and CSVs/Updated Sample CDOM Absorp Data.csv
